{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}Posts{% endblock %}</h1>

  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    <form action="{{ url_for("blog.index") }}" method="post">
          <input style="width: 70%" name="search_input">
            <input style="width: 20%" type="submit">
      </form>
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1><a href="{{ url_for('blog.read', id=post['id'])}}">{{ post['title']}}</a></h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
        <p class="body">{{ post['body'] }}</p>
      <form action="{{ url_for('blog.likess', id=post['id']) }}" method="post">
          <input  type="submit" value="Like">
      </form><h2> {{ post["likes"] }}</h2>

    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
